---
import { Content as ManifestoContent } from '../content/manifesto.mdx';
---

<section
  id="manifesto"
  class="py-24 px-6 bg-bg"
>
  <div class="max-w-[65ch] mx-auto">
    <div
      class="manifesto-prose font-display text-text"
      style="font-size: 1.25rem; line-height: 1.9;"
    >
      <ManifestoContent />
    </div>
  </div>
</section>

